html { 
  background: url(images/background_1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*{
  margin: 0;
  padding: 0; 
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
}

.App-logo {
  height: 39px;
}

.App-header {
  background-color: #222;
  height: 8%;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 77%;
}
.user_input{
  display: flex;  
  width: 60vw;
  padding: 13px;
  outline: none;
  border-radius: 3px;
  border: 0px;
  text-indent: 28px;
  background-image:url('./images/icons/ic-pin.svg'); 
  background-position: 7px 5px;
  background-size: 28px;
  background-repeat: no-repeat;
}

.user_input:focus{
  width: 58.5vw;
  font-size: 12px;
  padding: 15px;
  text-indent: 25px;
  color : purple;
  border: 0.5px;
  border-style: solid;
  border-color: #FFD700; 
}
.search_hint{
  font-size: 6px;
  padding: 3px 0px 0px 15px;
  position: absolute;
  text-indent: 12px;
  right: 30em;
  font-weight: bold;
  color: gray;
  z-index: 2;
}

.user_input::placeholder {
  color: gray;
  font-size: smaller;
  font-weight: bold;
  display: block;
}
.user_input:focus::placeholder{
  color: white;
 }

datalist {
	display: none;
}
.user_input::-webkit-calendar-picker-indicator {
	display: none;
}

.dropdown-list{
  background-color: white;
  list-style-type: none;
  text-align: left;
  max-height: 110px;
  min-height: 0px;
  overflow: hidden;
  color: rgb(85, 83, 83);
  font-size: 10px;
  border-radius: 3px;
}

.weatherDropdown{
  width: 68%;
  max-height: 136px;
  overflow: hidden;
  position: absolute;
}
.weather_list{
  background-color: white;
  list-style-type: none;
  width: 33.33%;
  text-align: left;
  min-height: 0px;
  overflow: hidden;
  color: rgb(85, 83, 83);
  font-size: 10px;
  float: left;
}
.dropdown-list:hover{
  border: 1px;
  border: 0.5px;
  border-style: solid;
  border-color: #FFD700;
  margin-top: 0px;
  border-radius: 3px;
}
.weather_icon{
  float: left;
}
.weather_prop{
  padding: 5px;
}
.location_list{
  font-size: 12px;
  padding: 9px;
  margin-top: 5px;
}

.location_list:hover{
  background-color: rgb(233, 212, 215);
}
